nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href="/") Mini Store
    form.d-flex(action="/" method="GET")
      input.form-control.me-2(type="search" name="search" placeholder="Search products...")
      button.btn.btn-outline-light(type="submit") Search
